.auth{
  width: 90%;
  max-width: 400px;
  border: 1px solid #8d8888;
  border-radius: 4px;
  padding: 20px;
  text-align: left;
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 20px;
}

.auth__error{
  padding: 10px 0;
  background-color: hsl(0, 79%, 87%);
  margin-bottom: 20px;
}

.auth form > input, button{
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid rgba(0,0,0,0.87);
  border-radius: 4px;
}

.auth input:focus {
  border: 2px solid rgb(25,118,210);
  outline: 0px;
}

.authFooter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.auth form > button{
  color: white;
  background-color: rgb(25, 118, 210);
  border-radius: 4px;
}

.authFooter button{
  color: white;
  background-color: rgb(25, 118, 210);
}
